{% extends 'layout/base.html' %}


{% load static %}

{% block head %}{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex ">
        {% for cat in category %}
        <a href="{% url 'category' cat.slug %}" class="mx-auto"
            style="text-decoration: none; border: 3px solid black; border-radius: 10px; padding: 4px; margin-top: 10px;">
            {{ cat.title }}
        </a>
        {% endfor %}
    </div>
</div>


<form class="container d-flex w-50 mt-5 mb-3">
    <input class="form-control me-2" type="text" style="border-color: black;"
        placeholder="Search for products,brand and more" />
    <button class="btn btn-outline-success" type="submit">
        Search
    </button>
</form>




<div id="carouselExampleControls" class="carousel slide container" data-bs-ride="carousel" style="height: 200px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/image copy.png' %}" class="d-block w-100" alt="image1" style="height: 200px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/image copy 2.png' %}" class="d-block w-100" alt="image2" style="height: 200px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/image copy 3.png' %}" class="d-block w-100" alt="image3" style="height: 200px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/image copy 4.png' %}" class="d-block w-100" alt="image4" style="height: 200px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/image copy 5.png' %}" class="d-block w-100" alt="image5" style="height: 200px;">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


</div>




<div class="container">
    <div class="row">

        {% if products %}
        {% include 'components/product_card.html' %}
        {% else %}
        <h2>there are no products</h2>
        {% endif %}

    </div>
</div>


{% endblock %}
{% block css %}
<style>
    main {
        /* display: grid;
        place-items: center;
        height: 100vh;
        color: rgb(230, 21, 21);
        background-color: aqua;
        text-decoration: underline;
        background-image: url(); */
    }
</style>
{% endblock %}
{% block js %}
<script></script>
{% endblock %}