<div class="container my-2">
    <div class="row">

        {% for  product in products  %}
            <div class="card" >
                <img src="{{ product.image.url }}" alt="{{ product.title}} "style="height: 400px; width: 400px;">
                <div class="card-body" >
                    <h3>{{ product.title|truncatewords:4 }}</h3>
                    <p class="card-price">{{ product.price }}</p>
                    <p class="card-time">{{ product.created_at|date:"F J, Y"}}</p>
                </div>
                <div class="p-2">
                    <a href="{% url 'detail' product.id %}"> View Detail</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>